{% extends 'admin/base.admin.html.twig' %}

{% block adminTitle %}Users{% endblock %}

{% block adminBody %}
        
    {% for message in app.flashes('usr-msg-ok') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    {% for message in app.flashes('usr-msg-error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    <a class="btn btn-primary" href="{{ path('admin_user_add') }}" role="button">Add user</a>
        
    <br /><br />
    
    <table class="table table-sm">
    <thead>
    <tr>
        {% set idDir=0 %}
        {% set nameDir=0 %}
        {% set emailDir=0 %}
        {% set activeDir=0 %}
        <th scope="col">
            {% if app.request.get('sort') == 0 %}
                {% if app.request.get('sortDESC') == 0 %}
                <span>&#8593;</span>
                {% set idDir = 1 %}
                {% else %}
                <span>&#8595;</span>
                {% endif %}
            {% endif %}
            <a href="{{ path('admin_user_list', {'sort': 0, 'sortDESC': (idDir)}) }}">ID</a>
        </th>
        <th scope="col">
            {% if app.request.get('sort') == 1 %}
                {% if app.request.get('sortDESC') == 0 %}
                <span>&#8593;</span>
                {% set nameDir = 1 %}
                {% else %}
                <span>&#8595;</span>
                {% endif %}
            {% endif %}
            <a href="{{ path('admin_user_list', {'sort': 1, 'sortDESC': (nameDir)}) }}">User name</a>
        </th>
        <th scope="col">
            {% if app.request.get('sort') == 2 %}
                {% if app.request.get('sortDESC') == 0 %}
                <span>&#8593;</span>
                {% set emailDir = 1 %}
                {% else %}
                <span>&#8595;</span>
                {% endif %}
            {% endif %}
            <a href="{{ path('admin_user_list', {'sort': 2, 'sortDESC': (emailDir)}) }}">e-mail</a>
        </th>
        <th scope="col">Role</th>
        <th scope="col">
            {% if app.request.get('sort') == 3 %}
                {% if app.request.get('sortDESC') == 0 %}
                <span>&#8593;</span>
                {% set activeDir = 1 %}
                {% else %}
                <span>&#8595;</span>
                {% endif %}
            {% endif %}
            <a href="{{ path('admin_user_list', {'sort': 3, 'sortDESC': (activeDir)}) }}">Active</a>
        </th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
        {% for user in users %}
            
            <tr>
                <th scope="row">{{ user.getid() }}</th>
                <td>{{ user.getUsername() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{{ user.getRoles()[0] }}</td>
                <td>
                    {% if (user.isActive()) %}
                        <a href="{{ path('admin_user_enable', {'userID': user.getid(), 'en': 0}) }}"><img src="{{ asset('img/ok.png') }}" alt="Enabled" title="Enabled"></a>
                    {% else %}
                        <a href="{{ path('admin_user_enable', {'userID': user.getid(), 'en': 1}) }}"><img src="{{ asset('img/stop.png') }}" alt="Disabled" title="Disabled"></a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_user_edit', {'userID': user.getid()}) }}"><img src="{{ asset('img/edit.png') }}" alt="Edit" title="Edit"></a>
                    <a href="{{ path('admin_user_delete', {'userID': user.getid()}) }}"><img src="{{ asset('img/delete.png') }}" alt="Delete" title="Delete"></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    
    {% set oParams = {'sort': app.request.get('sort'), 'sortDESC': app.request.get('sortDESC')} %}
    {{ include('paginator.html.twig', { 'paginator': paginator, 'route_name': 'admin_user_list',
                                        'route_page': 'page', 'route_perPage': 'perPage', 'route_otherParams': oParams }) }}
                  
{% endblock %}
