
{{ form_start(form) }}
<table>
    <tbody>
        <tr>
            <th>{{ form_label(form.connName) }}</th>
            <td>{{ form_widget(form.connName) }}</td>
            <td>{{ form_help(form.connName) }}</td>
            <td>
                {% if form.connName.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.connName.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.segmentName) }}</th>
            <td>{{ form_widget(form.segmentName) }}</td>
            <td>{{ form_help(form.segmentName) }}</td>
            <td>
                {% if form.segmentName.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.segmentName.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                <a class="btn btn-danger" href="{{ path('admin_config_driver') }}" role="button">Cancel</a>
            </td>
        </tr>
    </tbody>
</table>
{{ form_end(form) }}
