
{{ form_start(form) }}
<table>
    <tbody>
        <tr>
            <th>{{ form_label(form.connName) }}</th>
            <td>{{ form_widget(form.connName) }}</td>
            <td>{{ form_help(form.connName) }}</td>
            <td>
                {% if form.connName.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.connName.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.mode) }}</th>
            <td>{{ form_widget(form.mode) }}</td>
            <td>{{ form_help(form.mode) }}</td>
            <td>
                {% if form.mode.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.mode.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.slaveID) }}</th>
            <td>{{ form_widget(form.slaveID) }}</td>
            <td>{{ form_help(form.slaveID) }}</td>
            <td>
                {% if form.slaveID.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.slaveID.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.registerCount) }}</th>
            <td>{{ form_widget(form.registerCount) }}</td>
            <td>{{ form_help(form.registerCount) }}</td>
            <td>
                {% if form.registerCount.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.registerCount.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.driverPolling) }}</th>
            <td>{{ form_widget(form.driverPolling) }}</td>
            <td>{{ form_help(form.driverPolling) }}</td>
            <td>
                {% if form.driverPolling.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.driverPolling.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr id="TCP_addr" style="display: none">
            <th>{{ form_label(form.TCP_addr) }}</th>
            <td>{{ form_widget(form.TCP_addr) }}</td>
            <td>{{ form_help(form.TCP_addr) }}</td>
            <td>
                {% if form.TCP_addr.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.TCP_addr.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr id="TCP_port" style="display: none">
            <th>{{ form_label(form.TCP_port) }}</th>
            <td>{{ form_widget(form.TCP_port) }}</td>
            <td>{{ form_help(form.TCP_port) }}</td>
            <td>
                {% if form.TCP_port.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.TCP_port.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr id="RTU_port" style="display: none">
            <th>{{ form_label(form.RTU_port) }}</th>
            <td>{{ form_widget(form.RTU_port) }}</td>
            <td>{{ form_help(form.RTU_port) }}</td>
            <td>
                {% if form.RTU_port.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.RTU_port.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr id="RTU_baud" style="display: none">
            <th>{{ form_label(form.RTU_baud) }}</th>
            <td>{{ form_widget(form.RTU_baud) }}</td>
            <td>{{ form_help(form.RTU_baud) }}</td>
            <td>
                {% if form.RTU_baud.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.RTU_baud.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr id="RTU_parity" style="display: none">
            <th>{{ form_label(form.RTU_parity) }}</th>
            <td>{{ form_widget(form.RTU_parity) }}</td>
            <td>{{ form_help(form.RTU_parity) }}</td>
            <td>
                {% if form.RTU_parity.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.RTU_parity.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr id="RTU_dataBit" style="display: none">
            <th>{{ form_label(form.RTU_dataBit) }}</th>
            <td>{{ form_widget(form.RTU_dataBit) }}</td>
            <td>{{ form_help(form.RTU_dataBit) }}</td>
            <td>
                {% if form.RTU_dataBit.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.RTU_dataBit.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr id="RTU_stopBit" style="display: none">
            <th>{{ form_label(form.RTU_stopBit) }}</th>
            <td>{{ form_widget(form.RTU_stopBit) }}</td>
            <td>{{ form_help(form.RTU_stopBit) }}</td>
            <td>
                {% if form.RTU_stopBit.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.RTU_stopBit.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                <a class="btn btn-danger" href="{{ path('admin_config_driver') }}" role="button">Cancel</a>
            </td>
        </tr>
    </tbody>
</table>
{{ form_end(form) }}
