
{{ form_start(form) }}
<table>
    <tbody>
        <tr>
            <th>{{ form_label(form.ipAddress) }}</th>
            <td>{{ form_widget(form.ipAddress) }}</td>
            <td>{{ form_help(form.ipAddress) }}</td>
            <td>
                {% if form.ipAddress.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.ipAddress.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.port) }}</th>
            <td>{{ form_widget(form.port) }}</td>
            <td>{{ form_help(form.port) }}</td>
            <td>
                {% if form.port.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.port.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.slaveID) }}</th>
            <td>{{ form_widget(form.slaveID) }}</td>
            <td>{{ form_help(form.slaveID) }}</td>
            <td>
                {% if form.slaveID.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.slaveID.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.registerCount) }}</th>
            <td>{{ form_widget(form.registerCount) }}</td>
            <td>{{ form_help(form.registerCount) }}</td>
            <td>
                {% if form.registerCount.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.registerCount.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ form_label(form.driverPolling) }}</th>
            <td>{{ form_widget(form.driverPolling) }}</td>
            <td>{{ form_help(form.driverPolling) }}</td>
            <td>
                {% if form.driverPolling.vars['errors']|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.driverPolling.vars['errors'] %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
            </td>
        </tr>
    </tbody>
</table>
{{ form_end(form) }}
